:root {
  --padding-x: 2rem;

  --100vh: 100vh;
  --nav-height: 34px;
  --100vh-minus-header: calc(
    var(--100vh) - var(--alert-height) - var(--nav-height)
  );

  @media (min-width: theme("screens.sm")) {
    --padding-x: Max(3rem, 8vmin);
  }
  @media (min-width: theme("screens.md")) {
    --padding-x: Max(4rem, 4vmax);
  }
  @media (min-width: theme("screens.lg")) {
    --side-margin: Max(100px, 12vw);
  }

  // Font Declarations
  --font-primary: "Helvetica Neue", Helvetica, sans-serif;
  --font-secondary: "E.G.", "Helvetica Neue", Helvetica, sans-serif;

  // Colours
  --colour-primary-bg: #ffffff;
  --colour-secondary-bg: #111827;
  --colour-highlight-bg: #724ac2;

  --colour-primary-text: #404040;
  --colour-secondary-text: #1c1c1c;
  --colour-highlight-text: #724ac2;

  --colour-primary-brand: #5c3a9e;
  --colour-secondary-brand: #51a3ad;
}
